<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <a
          routerLink="/"
          class="header__logo-link"
          routerLinkActive="header__logo-link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img class="header__logo" src="img/logo.svg" alt="6 cities logo" width="81" height="41" />
        </a>
      </div>

      @if (!isHiddenNav) {
        <nav class="header__nav">
          <app-user-info />
        </nav>
      }
    </div>
  </div>
</header>
